<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Events</title>
</head>
<body>
    <h1>Events</h1>
    <table>
        <tr>
            <th>Event Name</th>
            <th>Event Date</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Total Participants</th>
            <th>Event Venue</th>
            <th>Event Location</th>
            <th>Event Ticket Price</th>
            <th>Event Guest</th>
            <th>Event Poster</th>
        </tr>
        {%for i in event%}
        <tr>
            <td>{{i.event_name}}</td>
            <td>{{i.event_date}}</td>
            <td>{{i.start_time}}</td>
            <td>{{i.end_time}}</td>
            <td>{{i.total_participants}}</td>
            <td>{{i.event_venue}}</td>
            <td>{{i.event_location}}</td>
            <td>{{i.event_ticket_price}}</td>
            <td>{{i.event_guest}}</td>
            <td><img src="/media/{{i.event_poster}}" width="100"></td>
        </tr>
        {%endfor%}
    </table>
</body>
</html>